<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />

  <!-- OGP -->
  <meta property="og:description" content="{{description}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{url}}" />
  <meta property="og:site_name" content="{{title}}" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:image" content="{{ogimage}}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:image" content="{{ogimage}}" />

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap"
    rel="stylesheet"
  />

  <!-- Style -->
  <link rel="stylesheet" href="/scss/style.scss" />
</head>
